# all line endings should be linux file endings
* text eol=lf
# the big genotype data files should be handled with the lfs system
*.bed filter=lfs diff=lfs merge=lfs -text
*.bim filter=lfs diff=lfs merge=lfs -text
*.snp filter=lfs diff=lfs merge=lfs -text
*.geno filter=lfs diff=lfs merge=lfs -text
# exclude code from GitHub's language detection
# https://github.com/github/linguist/blob/master/docs/overrides.md
* linguist-generated